<nav>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Population', world_by_population_path %></li>
		<li><%= link_to 'Age', world_by_age_path %></li>
		<li><%= link_to 'Service', world_by_required_service_path %></li>
	</ul>
</nav>